/*================ Blog Builder ================*/

@import 'variables';

/*================ Global Styles ================*/
// Base Styles
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family--primary;
}

h1 {
  font-weight: $font-weight--bold;
  font-size: $heading-font-size;
  font-family: $font-family--primary;
}

h2 {
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
}

/*================ Navigation ================*/
// Change background color
.top-nav {
  background-color: $black;
  overflow: hidden;
}

// Style the links inside the navigation bar
.top-nav a {
  float: left;
  color: $light-gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: $base-font-size;
}

// Change the color of links on hover
.top-nav a:hover {
  background-color: #dddddd;
  color: $black;
}

 // Add a color to the currently selected link
.top-nav a.active {
  background-color: #4caf50;
  color: white;
}

/*================ Header ================*/
.image-container {
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.picture-heading-text {
  font-family: $font-family-picture--heading;
  font-size: $heading-font-size;
  color: $black;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.forest-img {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-size: auto;
  opacity: $opacity-image-overlay;
}
