/*================ Blog Builder ================*/

@import 'variables';

/*================ Global Styles ================*/
// Base Styles
* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

h1 {
  font-weight: $font-weight--bold;
  font-size: $font-size-heading;
  font-family: $font-family--primary;
}

h2 {
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
}

/*================ Buttons ================*/
.button-primary {
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
  display: inline-block;
  float: left;
  font-size: $button-size-medium;
  font-weight: $font-weight--medium;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  height: 100px;
  width: 200px;
}

/*================ Navigation ================*/
// Change background color
.top-nav {
  background-color: $eerie-black;
  overflow: hidden;
}

// Style the links inside the navigation bar
.top-nav a {
  float: left;
  color: $light-gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: $base-font-size;
}

// Change the color of links on hover
.top-nav a:hover {
  background-color: #dddddd;
  color: $eerie-black;
}

// Add a color to the currently selected link
.top-nav a.active {
  background-color: #4caf50;
  color: white;
}

/*================ Header ================*/
.image-container {
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.picture-heading-text {
  font-family: $font-family-picture--heading;
  font-size: $font-size-heading;
  color: $black;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.forest-image {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-size: auto;
  opacity: $opacity-image-overlay;
}

/*================ Cards for welcome posts ================*/

.post-cards {
  // Card "Body"
  background-color: #eeeeee;
  font-family: $font-family--primary;
  display: flex;
  justify-content: center;
  align-items: center;

  // Position up and down
  min-height: 80vh;
}

.grid {
  grid-gap: 6em;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #ffffff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translate(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-image {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-title {
  font-size: $font-size-medium;
  font-weight: 500;
  color: $black;
  margin-bottom: 1.5em;
}

.card-body {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: $light-slate-gray;
  margin-bottom: 2.5rem;
}

.card-button {
  display: block;
  width: 100px;
  padding: 1.5rem;
  font-size: $font-size-medium;
  text-align: center;
  color: $morning-blue;
  background-color: $pale-silver;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-button:hover,
.card-button:active {
  background-color: $pale-silver;
}
