/* ================ Blog Builder ================ */

@import 'variables';

/* ================ Global Styles ================ */
// Base Styles
* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 1.4em;
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  color: $color-heading;
  padding: 0;
  margin: 0;
  background: $color-background;
}

h1 {
  font-weight: $font-weight--bold;
  font-size: $font-size-heading;
  font-family: $font-family--primary;
}

h2 {
  font-family: $font-family--primary;
  font-weight: $font-weight--thin;
}

p {
  font-family: $font-family--primary;
}

td {
  font-family: $font-family--primary;
}

a {
  font-family: $font-family--primary;
}

/* ================ Reusable Classes ================ */

.container {
  margin-top: 120px;
  margin-bottom: 151px;
}

.flex {
  display: flex;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

/* ================ Buttons ================ */
.button-primary {
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
  float: left;
  font-size: $button-size-medium;
  font-weight: $font-weight--medium;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  height: 10px;
  width: 20px;
}

/* ================ Navigation ================ */
// Change background color
.top-nav {
  overflow: hidden;
  background-color: $white;
  font-family: $font-family--primary;
}

// Links inside nav bar
.top-nav a {
  float: left;
  font-size: $font-size-medium;
  color: $bottle-green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

// Change the color of links on hover
.top-nav a:hover {
  background-color: #dddddd;
  color: $nyanza;
}

// Dropdown container
.dropdown {
  float: left;
  overflow: hidden;
}


// Add a color to the currently selected link
.top-nav .active {
  background-color: $bottle-green;
  color: $white;
}

/* ================ Header ================ */
.hero-image {
  position: relative;
  text-align: center;
  white-space: nowrap;
  background: rgba(0, 0, 0, 10);
}

.forest-image {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-size: auto;
  opacity: $opacity-image-overlay;
  display: block;
}

.picture-heading-text {
  font-family: $font-family-picture--heading;
  font-size: $font-size-heading;
  font-weight: $font-weight--medium;
  color: $white;
  top: 54%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.picture-copy-text {
  font-family: $font-family--primary;
  font-size: $font-size-small;
  font-weight: $font-weight--light;
  color: $white;
  top: 65%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ================ Cards for welcome page ================ */

.post-cards {
  background-color: $color-background;
  padding: 22px;
  font-family: $font-family--primary;
  display: flex;
  justify-content: center;
  align-items: center;
  // Position up and down
  min-height: 80vh;
}

.card-grid {
  // Space between cards
  margin: 20px;
  // Column Width
  grid-template-columns: fit-content(40ch) fit-content(40ch) 1fr;
  // Column Height
  grid-auto-rows: 1fr;
  height: auto;
  grid-gap: 1rem;
  grid-auto-flow: dense;
  justify-content: center;
  min-height: 100vh;
  display: flex;
}

.card-grid-item {
  flex: 1;
  background-color: #ffffff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr;
  height: 570px;
}

.card-grid-item:hover {
  transform: translate(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-image {
  display: block;
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
  overflow: auto;
}

.card-title {
  font-size: $font-size-medium;
  font-weight: 500;
  color: $dark-jungle-green;
  margin-bottom: 1.5em;
}

.card-body {
  font-size: $font-size-small;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: $bottle-green;
  margin-bottom: 2.5rem;
}

.card-button {
  color: $nyanza;
  background-color: $illuminating-emerald;
  font-size: $font-size-medium;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.card-button:hover,
.card-button:active {
  background-color: $ocean-green;
}

/* ================ Edit form ================ */
.field {
  font-family: $font-family--primary;
}

/* ================ Playground ================ */

/* ================ CSS Grid ================ */

/*
* We define grid tracks using grid-template-columns and grid-template-rows.
* Both properties specify the size of the grid tracks and you declare
* these properties inside of the grid container.
*/

.css-grid {
  max-width: 800px;
  display: grid;
  background: #ffffff;
  border-radius: 0.285em;
  box-shadow: 0 0.1em 0 0 rgba(0, 0, 0, 0.1);
  margin: 45px auto;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 200px 200px;
  grid-gap: 20px;
}

.item {
  color: #ffffff;
  text-shadow: 0 2px 0 rgba(110, 133, 156, 0.18);
  padding: 0.85em;
  background: #6e859c;
  border: solid 1px rgba(110, 133, 156, 0.15);
  border-radius: 0.3em;
}
.item:nth-child(even) {
  background: #a5cee9;
}

/* ================ Ajax Names ================ */

/*
* AJAX is a set of techniques used to dynamically display content and data.
* This is often referred to as asynchronous programming.
*/

.names {
  width: 100%;
  border: 3px;
  padding: 8px;
}

.names-button {
  color: #d8f3dcff;
  background-color: #40916cff;
  font-size: 1.2em;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 230px;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.names-section {
  position: relative;
  min-height: 100%;
  margin-top: 20px;
  padding: 20px;
  width: 50%;
  background: $white;
  border-radius: 0.4rem;
  position: relative;
  height: auto;
}

.edit-names {
  display: none;
}


.name-div p {
  display: none;
}
