/*================ Blog Builder ================*/
/*================ Variables ================*/
/*================ Color Variables ================*/
/*================ Typography ================*/
/*================ Global Styles ================*/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

p {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*================ Buttons ================*/
.button-primary {
  background-color: #60b077;
  color: #ffffff;
  float: left;
  font-size: 1.1em;
  font-weight: 400;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  height: 10px;
  width: 20px;
}

/*================ Navigation ================*/
.top-nav {
  background-color: #ffffff;
  overflow: hidden;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-nav a {
  float: left;
  color: #2d6a4fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: 1em;
}

.top-nav a:hover {
  background-color: #dddddd;
  color: #d8f3dcff;
}

.top-nav .active {
  background-color: #2d6a4fff;
  color: #ffffff;
}

/*================ Header ================*/
.hero-image {
  position: relative;
  text-align: center;
  white-space: nowrap;
  background: black;
}

.forest-image {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-size: auto;
  opacity: 0.6;
  display: block;
}

.picture-heading-text {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #ffffff;
  top: 54%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.picture-copy-text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #ffffff;
  top: 65%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*================ Cards for welcome page ================*/
.post-cards {
  background-color: #eaeeec;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.grid {
  margin: 14px;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-auto-rows: 35em;
  grid-gap: 3rem;
  grid-auto-flow: dense;
  justify-content: center;
}

.grid-item {
  background-color: #ffffff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translate(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-image {
  display: block;
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #081c15ff;
  margin-bottom: 1.5em;
}

.card-body {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #2d6a4fff;
  margin-bottom: 2.5rem;
}

.card-button {
  color: #d8f3dcff;
  background-color: #40916cff;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.card-button:hover,
.card-button:active {
  background-color: #74c69dff;
}

/*================ Edit form ================*/
.field {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*================ Subscribe to newsletter ================*/
.subscription_area {
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe_now h4 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #34495e;
  font-weight: 800;
  text-align: center;
}
.subscribe_now p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #34495e;
  text-align: center;
}

.subscribe_form {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
}
.subscribe_form:focus {
  outline: none;
}
.subscribe_form .form-control {
  border: none;
}
.subscribe_form .form-control:focus {
  box-shadow: none;
}
.subscribe_form input {
  height: 44px;
}
.subscribe_form button {
  border: none;
  height: 44px;
  background-color: #0ed085;
  color: #fff;
  margin: -1px;
  border-radius: 0;
  justify-content: right;
  width: 135px;
  text-transform: uppercase;
  position: relative;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:hover, .subscribe_form button:focus, .subscribe_form button:active, .subscribe_form button:visited {
  color: #fff;
  background-color: rgba(14, 208, 133, 0.77);
  outline: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:hover:before, .subscribe_form button:focus:before, .subscribe_form button:active:before, .subscribe_form button:visited:before {
  background-color: rgba(14, 208, 133, 0.77);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: #0ed085;
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form .input-group-btn:last-child > .btn, .subscribe_form .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: 0px;
}

/*# sourceMappingURL=theme.css.map */
