/*================ Blog Builder ================*/
/* ================ Variables ================ */
/* ================ Color Variables ================ */
/* ================ Typography ================ */
/* Varela Round */
@font-face {
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  src: font_url("varela-round-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: font_url("varela-round-v6-latin-regular.eot") format("embedded-opentype");
  /* IE6-IE8 */
  src: font-url("varela-round-v6-latin-regular.woff2") format("woff2");
  /* Super Modern Browsers */
  src: font-url("varela-round-v6-latin-regular.woff") format("woff");
  /* Modern Browsers */
  src: font-url("varela-round-v6-latin-regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  src: font-url("varela-round-v6-latin-regular.svg#VarelaRound") format("svg");
  /* Legacy iOS */
}
/*================ Global Styles ================*/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  font-family: "Varela Round";
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

p {
  font-family: "Varela Round";
}

td {
  font-family: "Varela Round";
}

a {
  font-family: "Varela Round";
}

/*================ Buttons ================*/
.button-primary {
  background-color: #60b077;
  color: #ffffff;
  float: left;
  font-size: 1.1em;
  font-weight: 400;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  height: 10px;
  width: 20px;
}

/*================ Navigation ================*/
.top-nav {
  background-color: #ffffff;
  overflow: hidden;
  font-family: "Varela Round";
}

.top-nav a {
  float: left;
  color: #2d6a4fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-style: 1em;
}

.top-nav a:hover {
  background-color: #dddddd;
  color: #d8f3dcff;
}

.top-nav .active {
  background-color: #2d6a4fff;
  color: #ffffff;
}

/* ================ Header ================ */
.hero-image {
  position: relative;
  text-align: center;
  white-space: nowrap;
  background: black;
}

.forest-image {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-size: auto;
  opacity: 0.7;
  display: block;
}

.picture-heading-text {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #ffffff;
  top: 54%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.picture-copy-text {
  font-family: "Varela Round";
  font-size: 1.3rem;
  font-weight: 300;
  color: #ffffff;
  top: 65%;
  left: 50%;
  position: absolute;
  margin-top: -60px;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ================ Cards for welcome page ================ */
.post-cards {
  background-color: #eaeeecff;
  font-family: "Varela Round";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.card-grid {
  margin: 14px;
  height: max-content;
  display: card-grid;
  card-grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  card-grid-auto-rows: 35em;
  card-grid-gap: 3rem;
  card-grid-auto-flow: dense;
  justify-content: center;
}

.card-grid-item {
  background-color: #ffffff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.card-grid-item:hover {
  transform: translate(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-image {
  display: block;
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #081c15ff;
  margin-bottom: 1.5em;
}

.card-body {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #2d6a4fff;
  margin-bottom: 2.5rem;
}

.card-button {
  color: #d8f3dcff;
  background-color: #40916cff;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.card-button:hover,
.card-button:active {
  background-color: #74c69dff;
}

/*================ Edit form ================*/
.field {
  font-family: "Varela Round";
}

/*# sourceMappingURL=theme.css.map */
