/*================ Variables ================*/

/*================ Color Variables ================*/

// Text colors
$color-text: #101010;
$color-body-text: #101010;

// Descriptive Base Colors
$white: #ffffff;
$black: #1f1f1f;
$grey: #797e83;
$light-gray: #f6f6f6;

// Button colors
$color-btn-primary: #60b077;
$color-btn-primary-text: $white;

// Color Usage
$nyanza: #d8f3dcff;
$turquoise-green: #b7e4c7ff;
$turquoise-green-2: #95d5b2ff;
$ocean-green: #74c69dff;
$ocean-green-2: #52b788ff;
$illuminating-emerald: #40916cff;
$bottle-green: #2d6a4fff;
$brunswick-green: #1b4332ff;
$dark-jungle-green: #081c15ff;

// Link buttons and secondary cta
$color-link: $color-body-text;
$opacity-link-hover: 0.6;
$button-size-medium: 1.1em;

// Overlays
$opacity-image-overlay: 0.6;

/*================ Typography ================*/

// Font Stacks
$font-url--google: 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Heading
$playfair-font--google: 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap';
$font-family-picture--heading: 'Playfair Display', serif;

// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

// Font sizes
$font-size-heading: 2.5em;
$font-size-small: 1.3rem;
$font-size-medium: 1.5rem;
$font-size-large: 3rem;

// Text
$base-font-size: 1em;
$base-line: 1.2em;
