<style>
    .em {
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .px {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h4 + ul {
        margin-top: -16px;
    }

    .px-vs-em {
        padding-top: 2px;
    }

</style>


<div class="px-vs-em">

  <h4>ems</h4>
  <ul>
    <li class="em">
      Lorem ipsum dolor sit amet, <span> Lorem ipsum dolor. </span> consectetur adipisicing elit. Praesentium,.<br>
      tempora ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque eum ex fuga rerum. Commodi.
    </li>
  </ul>

  <h4>pixels</h4>
  <ul>
    <li class="px">
      A aliquid et iste <span> Lorem ipsum dolor. </span> maxime perspiciatis recusandae repellendus saepe! Atque.<br>
      tempora ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, voluptatem? Lorem ipsum dolor.
    </li>
  </ul>
</div>
