<style>
    .px-vs-em {
        padding-top: 1px;
    }

    h4 + ul {
        margin-top: -16px;
    }


    /* Important for rem */
    html {
        font-size: 16px;
    }

    /* Important for em */
    li {
        font-size: 16px;
    }

    /* Both are relative to font sizes, but the difference is what they're relative to */
    .em {
        font-size: 1em;
    }

    .rem {
        font-size: 1em;
    }
</style>


<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Playground</title>
</head>
<body>
<!-- em is relative to the parent element -->
<h4>em</h4>
<ul>
  <li class="em">
    Lorem ipsum dolor sit amet, <span> Lorem ipsum dolor. </span> consectetur adipisicing elit. Praesentium,.<br>
    tempora ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque eum ex fuga rerum. Commodi.
  </li>
</ul>

<!-- rem is relative to the HTML element -->
<h4>rem</h4>
<ul>
  <li class="rem">
    A aliquid et iste <span> Lorem ipsum dolor. </span> maxime perspiciatis recusandae repellendus saepe! Atque.<br>
    tempora ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, voluptatem? Lorem ipsum dolor.
  </li>
</ul>
</body>
</html>
