// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//$red-crayola: #ed254eff;
$red-crayola: #ed254eff;
$naples-yellow: #f9dc5cff;
$mint-cream: #f4fffdff;
$oxford-blue: #011936ff;
$black-coral: #465362ff;