<!--Ability to go back to the previous page-->

<!DOCTYPE html>
<html>
<head>
  <%= content_for :title, "Playground" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>

<div class="wrapper">


  <%= render 'css_grid' %>

  <div class="container">
    <div class="heading">
      <h2>AJAX</h2>
      <p>AJAX is a set of techniques used to dynamically display content and data.
        This is often referred to as asynchronous programming.
      </p>
    </div>
    <div class="names-section">
      <button class="names-button">Click Me</button>
      <h3 class="appear-text">Names will appear here</h3>
      <div class="name-div"></div>
      <%=link_to 'Edit names', names_path, class: 'edit-names' %>
    </div>
  </div>
</div>
</body>
</html>
