<!--Navigation-->
<nav class="top-nav">
  <%= link_to "Logo", root_path, :class => current_class?(root_path) %>
  <%= active_link_to 'Posts', posts_path %>
  <%= active_link_to 'Readme', readme_path %>
  <%= active_link_to 'Playground', playground_path %>
</nav>
