<%= content_for :title, "Welcome" %>

<div class="image-container">
  <%= image_tag "pic-forest.jpg", class: "forest-img" %>
  <h1 class="picture-heading-text">Welcome to the site!</h1>
</div>

<h1><%= post.title %></h1>
