<%= content_for :title, "Welcome" %>

<div class="hero-image">
  <%= image_tag "forest.jpg", class: "forest-image" %>
  <h1 class="picture-heading-text">Welcome to the blog builder!</h1>
  <p class="picture-copy-text">Nov 1, 2020</p>
</div>

<%= render 'posts/post_cards' %>
