<h1>Blog Pages</h1>

<% grade = 93 %>
<% if grade > 94 %>
  "You got a A+"
  <% elsif grade <= 94 %>
  "You got a A"
  <% elsif grade <= 89 %>
  "You got a B"
  <% else %>
  "You must retake the test"
<% end %>

<% 4.times do %>

<% end %> %>

