<h1>Blog Pages</h1>

<!--An additional <%# end %> statement below-->
<!--Caused by using code completion -->
<% 4.times do %>

<% end %> %>


<!--An additional erb tag below-->
<!--Caused by using "Complete current statement" shortcut-->
<% 4.times do %>

<% end %>
<% end %>
