<h1>Blog Pages</h1>

<% 4.times do %>

<!--An additional <%# end %> statement below-->
<!--Caused by using code completion -->
<% end %>
<% end %>


<% 4.times do %>

<!--An additional erb tag below-->
<!--Caused by using "Complete current statement" shortcut-->
<% end %> %>